* {
  padding: 0;
  margin: 0;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 150px;
}

.fila {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.fila div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 50%;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-derecha{
  text-align: right;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 45px;
}
